
.skills{
    display: flex;
    padding: 0 0 0 9.375rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills__individual{
    padding: 0 6.25rem 6.25rem 0;
    box-sizing: border-box;
}

.skills__individual img{
    width: 3.75rem;
    display: block;
    box-shadow: 0.625rem 0.625rem 0.313rem rgba(0,0,0,0.5);
    padding: 0 0 1.563rem 0;
}

.skills__individual p{
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    letter-spacing: 0.313rem;
    text-align: justify;
    text-align-last: left;
}

.skills__individual a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9.375rem;
}    


