.curriculum {
    padding: 5rem 0 0 0;
}

.curriculum__schooling {
    padding: 0 0 0 2rem;
}

.curriculum__schooling__div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 2rem 2.5rem;
}


.curriculum__schooling__div h2{
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0 0 0.5rem 0;
}

.curriculum__schooling__div h3{
    font-size: 1.1rem;
    line-height: 1rem;
    font-weight: 900;
    padding: 0.5rem 0 0.5rem 2rem;
}

.curriculum__schooling__div p{
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 0.3rem 2rem;
}

.curriculum-experience{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.curriculum-experience-div{
    width: 100%;
    padding-bottom: 2rem;
}

.curriculum-experience-subtitle{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 0.5rem 0;
}

.curriculum-experience-subtitle-date{
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 0 4rem;
    border-left: 0.1rem solid #fff;
}

.curriculum-experience-text{
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 0 0 2rem 6rem ;
}

.curriculum-expertise{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.curriculum-experience-expertise{
    padding-left: 2rem;
}