.about__text {
    width: 100%;
    padding: 3rem 0 0 2rem;
    font-size: 1.3rem;
    overflow: hidden;
}

.about__text p{
    line-height: 2rem;
}

.about__text img{
    width: 40%;
    padding: 0 0 0 2.375rem;
    max-width: 80%;
    position: relative;
    opacity: 0.5;
    float: right;
}

.about__text__topics{
    font-size: 1.1rem;
    line-height: 2rem;
    margin: 0 0 1rem 2.5rem  ;
}

