.curriculum {
    padding: 5rem 0 0 0;
}

.curriculum__section {
    padding: 0 0 0 2rem;
}

.curriculum__section__schooling {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 0 2.5rem;
}

.curriculum__section__professional{
    padding: 0 0 2rem 2.5rem;
}

.curriculum__section__knowledges{
    display: flex;
    padding: 0 0 2rem 2.5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.curriculum__section__knowledges div{
    width: 33.3%;
}

.curriculum__section__schooling div, .curriculum__section__professional div, .curriculum__section__knowledges div{
    padding: 0 0 4rem 0;
}

.curriculum__section__schooling h2, .curriculum__section__professional h2, .curriculum__section__knowledges h2{
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0 0 0.5rem 0;
}

.curriculum__section__schooling h3, .curriculum__section__professional h3, .curriculum__section__knowledges h3{
    font-size: 1.1rem;
    line-height: 1rem;
    font-weight: 900;
    padding: 0.5rem 0 0.5rem 2rem;
}

.curriculum__section__schooling p, .curriculum__section__professional ul, p, .curriculum__section__knowledges ul, p{
    font-size: 1.1rem;
    line-height: 1rem;
    padding: 0.3rem 2rem;
}

.curriculum__section__schooling li, .curriculum__section__professional li, .curriculum__section__knowledges li{
    margin: 0.5rem 2rem;
    list-style-type: circle;
}


