.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 12rem 0 ;
    width: 100%;
}

.introduction__text {
    border-left: 0.188rem solid white;
    width: 100%;
}

.introduction__text h1{
    font-size: 4.063rem;
    padding: 0 3.125rem 1.875rem 1.25rem;
    font-weight: 900;
    text-shadow: 0.313rem 0.125rem 0.625rem rgba(255, 255, 255, 0.3);
}

.introduction__text h2{
    font-size: 1.5rem;
    padding: 0 3.125rem 1.875rem 1.25rem ;
}

.introduction__text h3, h4{
    font-size: 1.5rem;
    padding: 0rem 3.125rem 0rem 1.25rem;
    line-height: 1.5;
}

.introduction__text h3{
    font-weight: 900;
}

.introduction__img{
    width: 60%;
    padding: 0 0 0 9.375rem;
}

.introduction__img img{   
    width: 100%;
}
