
h5 {
    border-left: 0.188rem solid white;
    font-size: 2.813rem;
    padding: 0 3.125rem 0 1.25rem ;
    font-weight: 900;
    text-shadow: 0.313rem 0.125rem 0.625rem rgba(255, 255, 255, 0.3); 
}

h6{
    position: relative;
    font-size: 24px;
    margin: 30px 50px 50px 20px ;
    line-height: 1.5;
    display: inline-block;
    font-weight: 500;
}

h6::after{
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -0.313rem; 
    width: 70%; 
    height: 0.125rem; 
    background-color: white; 
}